<ion-view title="Browse">
  <ion-nav-buttons side="left">
    <button menu-toggle="left"class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">
    <ion-refresher
      pulling-text="Pull to refresh..."
      on-refresh="getData(false)">
    </ion-refresher>
    <ion-list>
      <ion-item ng-repeat="item in data.items" class="item item-thumbnail-left" ng-href="#/app/browse/{{item.data.id}}">
        <img ng-src="{{item.data.thumbnail}}">
        <h2 ng-bind="item.data.title"></h2>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
